h1, h2, h3, h4, h5, h6, ul, p {
    margin: 0;
    padding: 0;
}

body{
	font-family: $mainFont;
	color: $font;
	background: #F4F4F4;
	-webkit-font-smoothing: antialiased;
	&:not(.active){
		overflow: hidden !important;
	}
}

*::-webkit-scrollbar {
	display: none;
}

* {
	-ms-overflow-style: none;
	scrollbar-width: none;
	box-sizing: border-box;
}


img{
	display: block;
}

.wrapper{
	padding-left: vw(91);
	@include max(md){
		padding-left: 0;
	}
}

.container{
	padding: 0 52px;
	width: 100%;
	@include max(md){
		padding: 0 24px;
	}
	@include max(sm){
		padding: 0 16px;
	}
}


